  ::-webkit-scrollbar {
    width: 6px;
  }
/* Track */
::-webkit-scrollbar-track {
  background: #fffdfd;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 0, 162, 0.2);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
